/* TODO */
@import url(https://unpkg.com/tailwindcss@3.2.4/src/css/preflight.css);

body {
    background-color: black;
    color: white;
}

img {
    max-width: 100px;
}

.card {
    outline: yellow 1px dashed;
    min-height: 100px;
}